html{
margin: 0px;
    padding: 0px;
    
}
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: whitesmoke;
}
#conteneur{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body >div> .item{
    width: 55%;
    margin: 5% auto;
   border: 1px solid rgba(0, 0, 0, 0.5); 
    padding : 10px;
    background-color:white;
    box-shadow: 5px -8px 6px  rgba(0, 0, 0, 0.5);
      -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-6deg);
}

body > div > .item > img{
    width: 30% ;
    height: 250px;
    float: left;
    border-radius: 10px;
    position: relative;
    bottom: 30px;

}
.item > p{
      text-align: left;
      padding: 10px;
      font-family: 'Libre Franklin', sans-serif;
      color:  rgba(0, 0, 0, 0.5);  
      display: inline-block;
}
.item > h3{
    color:  rgba(0, 0, 0, 0.5);
}
.item a {
    text-decoration: none;
  color:#001005;
   font-family:'Libre Franklin', sans-serif;
}
div > ul > li{
	list-style-type:circle;
  font-family:'Libre Franklin', sans-serif;
  color:rgba(0, 0, 0, 0.7);
  font-size:1.1em;
  display:inline;
  margin:10px;
}
@media screen and (max-width : 780px){
  body>div>.item{
    width:90%;
        -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari */
  transform: none;
  }
  
}