html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: small;
    color: #101010;
}
#conteneur > div{
    width: 65%;
    margin: 10% auto;
    background-color: whitesmoke;
    padding: 15px;
  
  content: '';

  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        

}
#conteneur{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#conteneur>div{
    flex: 1;
}
a {
    text-decoration: none;
    color: #0010ff;
}